*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding:  0;
}
body{
    background-color: hwb(0 1% 91%);
    color: white;
    font-size: 1.6rem;
    overflow-x: hidden;
}


header,section{
    
    /* background-color: #0085b9; */
    color:#f1f0f0;
    margin: 0 auto;
    margin-bottom: 6rem;
    max-width: 1100px;
    width: 100%;
    padding: 1.5rem 2rem; 
}

header>.content{

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    max-width: 100%;
    margin: 0 auto;;
    /* padding: 2rem; */
    
    
}
.float{
    display:none;
}
.about-me{
    padding: 2rem;
    background-color: cadetblue;
    flex-grow: 1;
}
/* img{
    max-width: 400px;
    
} */

p{
    /* margin-bottom: 2rem; */
}

i,span.mdi{
    font-size: 1.5rem;
    margin: 0 1.5rem;
    cursor: pointer;
}

.mypic{
    /* align-self: flex-start; */
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom:2rem;
    
}
.portfolio-pic{
    max-width: 100%;
    
}

.my-name{
    position: absolute;
    bottom: 10px;
    font-size: 4rem;
    width: 100%;
    padding: 0 1.5rem;
    letter-spacing: .2rem;
}

/* Header background svg */
.slash-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
}

.slash-background svg {
    position: relative;
    display: block;
    width: calc(169% + 1.3px);
    height: 600px;
    transform: rotateY(180deg);
}

.slash-background .shape-fill {
    fill:  #690000;
}


.title{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: .7rem;
}

.social-icons{
    text-align: center;
}


.projects-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:1rem
}

.project{
    display: flex;
    flex-direction: column;
    width: 300px;
    max-width: 100%;
    gap: .8rem;
}
.project-img{
    height: 350px;
    background-color: blue;
}
.project-detail-wrapper{
    display: flex;
    justify-content: space-between;
}
.project-link-wrapper > i, .project-link-wrapper> span.mdi{
    font-size: 1.4rem;
    margin: 0 .4rem;

}

footer{
    color: #f1f0f0;
    margin: 0 auto;    
    padding: 1.5rem 2rem;
    background-color: #690000;
    display:flex;
    flex-direction: column; 
}

.footer-img{
    width: 100%;
}
.footer-img img {
    width: 100%;
}


 @media  (min-width:700px) {
    body{
        padding-top: 6rem;
        position: relative;
    }
    .title{
        text-align: left;
    }

    header>.content {
        /* position: relative; */
        display: flex;
        flex-direction: row;
        align-items: center;
            /* padding: rem 0; */
        background-color: crimson;
        }
        .mypic{
            width: 80%;
            position:absolute;
           
            /* background-color: chartreuse; */
            z-index: 2;
           height: 100%;
        }
        
        .my-name{
            position: absolute;  
            top: -4rem; 
            right: 1rem;
            font-size: 3rem;
            width: auto;
            /* background-color: chartreuse; */
        }

        .portfolio-pic{
            display: none;
        }

        .about-me h1{
            font-size: 3.5rem;
        }
        .about-me p{
            font-size:1.5rem
        }
        .about-me img{
            display: block !important;
            margin: 0;
            background-color: burlywood;
            float: left;
            max-width:320px; 
            transform: translateX(-60px) translateY(-120px);
            shape-outside: inset(50px 50px 120px 50px);
            /* padding:2rem; */
        }
       
        .content .social-icons{
            display: none;
        }
        footer{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background-color: darkorchid;
        }
        footer .social-icons{
            text-align: left;
        }

        .footer-img{
            max-width: 500px;
        }
        
       

} 
@media (min-width: 1000px){
    .about-me{
        height: 100%;
    }
    .content{
        display: flex;
        flex-direction: row; 
        /* justify-content: center; */
        /* align-items: center;   */
    }
    .portfolio-pic{
        display: block;
    }

    .mypic {
        align-self: flex-start;
        position: static;
        width: 100%;
        height: 100%;
        min-width: 400px;
        max-width: 700px;
        margin: 0 auto;
        background-color: fuchsia;
        /* margin-bottom: 2rem; */
        }
    .mypic{
        position:relative;
        /* right:0; */
    }
    
    .my-name{
        position: absolute;
        /* bottom: 4rem; */
        top: 0;
        right:0;
        left: 0;
        top: 25rem;
        font-size: 3rem;
        width: 100%;
        padding: 0 1.5rem;
        /* letter-spacing: .2rem; */
    }

    .about-me img{
        display: none !important;
    }
}