*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding:  0;
}
body{
    background-color: hwb(0 1% 91%);
    color: white;
    font-size: 1.6rem;

}


header,section{
    
    /* background-color: #0085b9; */
    color:#f1f0f0;
    margin: 0 auto;
    margin-bottom: 6rem;
    padding: 1.5rem 2rem; 
}

header>.content{

    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 100%;
    margin: 0 auto;;
    /* padding: 2rem; */
    
    
}
.float{
    display:none;
}
.about-me{
    padding: 2rem;
    background-color: cadetblue;
}
/* img{
    max-width: 400px;
    
} */

p{
    /* margin-bottom: 2rem; */
}

i,span.mdi{
    font-size: 1.5rem;
    margin: 0 1.5rem;
    cursor: pointer;
}

.mypic{
    align-self: flex-start;
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom:2rem ;
}

.portfolio-pic{
    max-width: 100%;
    
}

.my-name{
    position: absolute;
    bottom: 10px;
    font-size: 4rem;
    width: 100%;
    padding: 0 1.5rem;
    letter-spacing: .2rem;
}

/* Header background svg */
.slash-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
}

.slash-background svg {
    position: relative;
    display: block;
    width: calc(169% + 1.3px);
    height: 600px;
    transform: rotateY(180deg);
}

.slash-background .shape-fill {
    fill:  #690000;
}


.title{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: .7rem;
}

.social-icons{
    text-align: center;
}


.projects-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
}

.project{
    display: flex;
    flex-direction: column;
    width: 350px;
    max-width: 100%;
    gap: .8rem;
}
.project-img{
    height: 250px;
    background-color: blue;
}
.project-detail-wrapper{
    display: flex;
    justify-content: space-between;
}
.project-link-wrapper > i, .project-link-wrapper> span.mdi{
    font-size: 1.4rem;
    margin: 0 .4rem;

}

footer{
    color: #f1f0f0;
    margin: 0 auto;    
    padding: 1.5rem 2rem;
    background-color: #690000;
}

.footer-img{
    width: 100%;
    max-width: 400px;
}


 @media  (min-width:700px) {
    body{
        padding-top: 6rem;
    }

    header>.content {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
            /* padding: rem 0; */

        }
        .mypic{
            position: absolute;
            top: -3rem;
            left: -1rem;
            width: 100%;
            z-index: 2;
            
        }
        .my-name{
            font-size: 3rem;
            position: absolute;
            top: -1.5rem;
            left: 16rem; 
            width: auto;
        }
        .portfolio-pic{
            display: none;
        }
        .about-me h1{
            font-size: 3.5rem;
        }
        .about-me p{
            font-size:1.5rem
        }
        .about-me img{
            display: block !important;
            margin: 0;
            background-color: burlywood;
            float: left;
            max-width:320px; 
            transform: translateX(-60px) translateY(-120px);
            shape-outside: inset(50px 50px 120px 50px);
            /* padding:2rem; */
        }
       
        .content .social-icons{
            display: none;
        }
        footer{
            display: flex;
        }
       

} 
@media screen and (min-width: 1200px){

}